.todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0 5px 5px;
  border-radius: 3px;
  background-color: violet;
  margin: 50px 0 15px 0;
  .container {
    .mat-form-field {
      color: white;
      width: 90%;
      padding: 20px 2px 0px 2px;
    }
  }
  #btn-submit {
    padding: 0 15px;
    margin: 0 5px;
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.05);
      background-color: rgb(203, 244, 249);
      .mat-icon {
        color: rgb(38, 99, 231);
        filter: drop-shadow(2px 2px 2px rgba(102, 183, 244, 0.679));
      }
    }
  }
}
.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  box-shadow: 2px 1px 10px rgba(245, 245, 245, 0.525);
}
