<section class="container">
  <table>
    <thead>
      <tr class="todo-title">
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let todo of todos; let index = index">
          <div id="taches">
            <p *ngIf="newTodos || todo.description">
              {{ todo.description }}
            </p>
            <mat-card-actions>
              <button mat-raised-button color="primary">Edit</button>
              <button
                mat-flat-button
                color="warn"
                (click)="onDelete(todo.todo_id)"
              >
                Delete
              </button>
            </mat-card-actions>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
