.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1561bd;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  padding: auto;
  margin: auto;
}
